.first {
  height: 75rem;
  position: relative;

  &:hover {
    cursor: pointer;

    .first-bg__bg {
      transform: scale(1);
    }
  }

  &-info {
    font-family: Spiegel, Arial, sans-serif;
    width: 46rem;
    background-color: #0c2f3e;
    color: #fff;
    padding: 2.5rem 6rem;
    opacity: 0.7;
    z-index: 2;

    position: absolute;
    left: 0;
    bottom: 0;

    &__title {
      font-size: 2rem;
      margin-bottom: 0.8rem;
    }

    &__description {
      font-size: 1rem;
      margin-bottom: 0.8rem;
    }
  }

  &-overlay {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 2rem);
    height: calc(100% - 2rem);
    border: 1px solid rgb(170, 170, 170);
    z-index: 1;
  }
}
